.container--advantage, .container--hero, .container--header, .container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 84px 31px;
  max-width: 480px;
}

.hours, .pretitle--advantage, .pretitle--services, .pretitle--hero, .pretitle {
  display: block;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin: 0 0 0 80px;
}
.hours::before, .pretitle--advantage::before, .pretitle--services::before, .pretitle--hero::before, .pretitle::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  position: absolute;
  top: 91px;
  left: 31px;
}

.section {
  margin: 0 auto;
  max-width: 480px;
}

.heading--about, .heading, .heading--booking,
.heading--contacts,
.heading--services,
.heading--hero {
  color: #303030;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin: 20px 0 0 0;
}

.list--gallery, .list--lowest, .list--contacts, .socials, .advantage__list, .list--services, .list {
  margin-top: 44px;
  margin-bottom: 0;
  padding-left: 0;
}

.lowest__item, .contacts__item, .socials__item, .barbers__item, .advantage__item, .services__item, .menu__item, .nav__item, .item {
  list-style-type: none;
}

.button--about, .button--menu, .button {
  border: 1px solid #ff6c00;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  color: #fff;
  background-color: transparent;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.09em;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}
.button--about:hover, .button--menu:hover, .button:hover, .button--about:focus, .button--menu:focus, .button:focus {
  background-color: #ff6c00;
  color: #fff;
}

.advantage__paragraph, .about__paragraph--wide, .about__paragraph, .hero__paragraph, .paragraph {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #555;
  margin: 20px 0 0 0;
}

.barber__image {
  display: inline-block;
  margin-top: 64px;
}

.lowest__link, .contacts__link {
  display: inline-block;
}

body {
  font-family: "OpenSans", sans-serif;
}

.pretitle--hero::before,
.pretitle--services::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: #9da4bd;
}

.heading--booking,
.heading--contacts,
.heading--services,
.heading--hero {
  color: #fff;
}

.heading--booking,
.heading--contacts {
  text-align: center;
  margin: 0;
}

.visually-hidden {
  display: none;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu__close {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 48px;
  right: 31px;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  background-color: #fff;
  padding: 48px 40px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.menu.is-open {
  display: block;
  padding: 48px 31px;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.js-open-menu {
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48px;
  right: 31px;
}

.nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.nav__link,
.menu__link--phone {
  color: #303030;
  text-decoration: none;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1em;
}
.nav__link:hover, .nav__link:focus,
.menu__link--phone:hover,
.menu__link--phone:focus {
  color: #ff6c00;
}

.button--menu {
  color: #303030;
  margin-bottom: 64px;
  margin-top: 0;
}

.menu__item:not(:last-child) {
  margin-bottom: 24px;
}
.menu__item:first-child::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  position: absolute;
  top: 9px;
  left: 0;
}

.menu__link {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 14;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: #303030;
  text-decoration: none;
  margin-left: 100px;
}
.menu__link--phone {
  display: block;
  margin-bottom: 24px;
}

.nav {
  margin-top: 70px;
  margin-bottom: 64px;
}

.menu__socials {
  position: relative;
  margin: 0;
  padding: 0;
}

.header__logo,
.header__button {
  display: inline-block;
}

.header__button {
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}

.container--header {
  max-width: 480px;
  padding: 40px 31px;
  position: relative;
}

.hero__paragraph {
  font-size: 16px;
  line-height: 1.625;
  color: #9da4bd;
}

.pretitle--hero {
  color: #9da4bd;
}
.pretitle--hero::before {
  top: 46px;
}

.container--hero {
  padding: 40px 31px;
}

.heading--hero {
  font-size: 48px;
}

.about__paragraph {
  font-size: 16px;
}
.about__paragraph--wide {
  font-size: 14px;
}

.heading--about {
  font-size: 28px;
}

.button--about {
  color: #303030;
  margin: 40px 0 0 0;
}

.services__name,
.services__price {
  display: inline-block;
  font-family: OpenSans, sans-serif;
  font-weight: 40;
  font-size: 14px;
  color: #9da4bd;
  line-height: 1.43;
  letter-spacing: 0.02em;
  margin: 0;
}

.services {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.7)), to(rgba(17, 19, 25, 0.7))), url(/images/services.jpg);
  background-image: linear-gradient(to right, rgba(17, 19, 25, 0.7), rgba(17, 19, 25, 0.7)), url(/images/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 19, 25, 0.7)), to(rgba(17, 19, 25, 0.7))), url(/images/services@2x.jpg);
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.7), rgba(17, 19, 25, 0.7)), url(/images/services@2x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.pretitle--services {
  color: #9da4bd;
}

.heading--services {
  font-size: 40px;
}

.list--services {
  padding: 30px 20px 30px 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 26, 36, 0.9)), to(rgba(17, 19, 25, 0.1)));
  background-image: linear-gradient(to bottom, rgba(23, 26, 36, 0.9), rgba(17, 19, 25, 0.1));
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__item:not(:last-child) {
  margin-bottom: 20px;
}

.services__line-container {
  width: 80%;
  height: 1px;
}

.services__line {
  width: 40%;
  height: 1px;
  background-color: #9da4bd;
  margin: 0 4px;
}

.container--advantage {
  padding: 104px 31px 99px 31px;
}

.advantage__paragraph {
  font-size: 18px;
  line-height: 1.67;
}

.advantage__number,
.advantage__description {
  font-family: OpenSans, sans-serif;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.advantage__number {
  display: inline-block;
  font-weight: 700;
  font-size: 42px;
  margin: 0;
}

.advantage__description {
  display: block;
  font-weight: 600;
  font-size: 11px;
  margin: 6px 0 0;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plus {
  display: inline-block;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #ff6c00;
  margin: 0;
}

.advantage__item {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 193px;
  height: 133px;
}
.advantage__item:nth-child(2) {
  margin-top: 35px;
}
.advantage__item:nth-child(3) {
  margin-top: -35px;
}
.advantage__item--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 122px;
}

.pretitle--advantage::before {
  top: 111px;
}

.barbers {
  background-color: #f7f7f7;
}

.barber__image {
  margin-top: 0;
}

.barbers__item:not(:last-child) {
  margin-bottom: 64px;
}

.barbers__name,
.barbers__description {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
}

.barbers__name {
  font-size: 18px;
  color: #303030;
  margin: 30px 0 0 0;
}

.barbers__description {
  font-size: 14px;
  color: #ff6c00;
  margin: 8px 0 0 0;
}

.socials {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__item:hover, .socials__item:focus {
  fill: #ff6c00;
}

.circle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: #fff;
}

.footer__input::-webkit-input-placeholder, .footer__textarea::-webkit-input-placeholder {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #9da4bd;
}

.footer__input::-moz-placeholder, .footer__textarea::-moz-placeholder {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #9da4bd;
}

.footer__input:-ms-input-placeholder, .footer__textarea:-ms-input-placeholder {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #9da4bd;
}

.footer__input::-ms-input-placeholder, .footer__textarea::-ms-input-placeholder {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #9da4bd;
}

.footer__input::placeholder,
.footer__textarea::placeholder {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #9da4bd;
}

.footer__input:not(:-moz-placeholder-shown), .footer__textarea:not(:-moz-placeholder-shown) {
  color: #fff;
}

.footer__input:not(:-ms-input-placeholder), .footer__textarea:not(:-ms-input-placeholder) {
  color: #fff;
}

.footer__input:not(:placeholder-shown),
.footer__textarea:not(:placeholder-shown) {
  color: #fff;
}

.footer__input:hover::-webkit-input-placeholder, .footer__input:focus::-webkit-input-placeholder, .footer__textarea:hover::-webkit-input-placeholder, .footer__textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.footer__input:hover::-moz-placeholder, .footer__input:focus::-moz-placeholder, .footer__textarea:hover::-moz-placeholder, .footer__textarea:focus::-moz-placeholder {
  color: #fff;
}

.footer__input:hover:-ms-input-placeholder, .footer__input:focus:-ms-input-placeholder, .footer__textarea:hover:-ms-input-placeholder, .footer__textarea:focus:-ms-input-placeholder {
  color: #fff;
}

.footer__input:hover::-ms-input-placeholder, .footer__input:focus::-ms-input-placeholder, .footer__textarea:hover::-ms-input-placeholder, .footer__textarea:focus::-ms-input-placeholder {
  color: #fff;
}

.footer__input:hover::placeholder,
.footer__input:focus::placeholder,
.footer__textarea:hover::placeholder,
.footer__textarea:focus::placeholder {
  color: #fff;
}

.footer__input,
.footer__textarea {
  display: block;
  border-bottom: 1px solid #9da4bd;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 44px;
  width: 100%;
  padding: 0 0 8px 0;
  background-color: transparent;
}
.footer__input:hover, .footer__input:focus,
.footer__textarea:hover,
.footer__textarea:focus {
  border-bottom: 1px solid #fff;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  text-decoration: none;
}
.contacts__link--map {
  font-weight: 700;
}

.hours {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  color: #fff;
  text-transform: uppercase;
}
.hours::before {
  position: absolute;
  top: 5px;
  background-color: #fff;
  left: 0;
}

.contacts__container--low {
  position: relative;
  margin: 44px 0 0 0;
}

.contacts__paragraph {
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.footer__form {
  text-align: center;
}

.booking {
  padding: 84px 31px;
  background-color: #191C26;
}

.contacts {
  padding: 84px 31px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(/images/contacts.jpg);
  background-image: linear-gradient(to bottom, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(/images/contacts.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url(/images/contacts@2x.jpg);
    background-image: linear-gradient(to bottom, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(/images/contacts@2x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.contacts__address {
  font-style: normal;
  margin-top: 40px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.list--contacts {
  margin-top: 40px;
}

/* Post-footer */
.list--lowest {
  position: relative;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}

.lowest__item:first-child::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #303030;
  height: 1px;
  width: 60px;
  top: 10px;
  left: 148px;
}

.lowest {
  background-color: #f7f7f7;
  padding: 44px 31px;
}
.lowest__item:not(:last-child) {
  margin-right: 40px;
}

.copyright,
.lowest__link {
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin: 0;
}

.lowest__link {
  color: #303030;
  text-decoration: none;
}

.list--gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-top: 71px;
}/*# sourceMappingURL=main.css.map */