.footer__input::placeholder,
.footer__textarea::placeholder {
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: $textOnBgImage;
} 

.footer__input:hover,
.footer__input:focus,
.footer__textarea:hover,
.footer__textarea:focus {
    
    &::placeholder {
        color: $primaryBackgroundColor;
    }
}

.footer__input,
.footer__textarea {
    display: block;

    border-bottom: 1px solid $textOnBgImage;
    border-top: none;
    border-right: none;
    border-left: none;

    margin-top: 44px;
    width: 100%;
    padding: 0 0 8px 0;

    &:hover,
    &:focus {
        border-bottom: 1px solid $primaryBackgroundColor;
    }
}

.contacts__link { 
    display: flex;
    align-items: center;
    gap: 16px;

    font-family: OpenSans, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $textOnBgImage;
    text-decoration: none;

    &--map {
        font-weight: 700;
    }
}

.hours {
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    color: $primaryBackgroundColor;
    text-transform: uppercase;

    margin: 44px 0 0 0;
}

.contacts__paragraph {
    font-size: 18px;
    line-height: 1.67;
    color: $textOnBgImage;
}

.footer__form {
    text-align: center;
}

.booking {
    padding-bottom: 84px;
}

.contacts {
    padding-top: 84px;

    &__address {
        margin-top: 40px;
    }

    &__item:not(:last-child) {
        margin-bottom: 20px;
    }
}



/* Post-footer */

.lowest {
    background-color: $itemsBgColor;

    padding: 44px 31px;

    &__item:not(:last-child) {
        margin-right: 40px;
    }
}

.copyright,
.lowest__link {
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: $textOnBgImage;

    margin: 0;
}

.lowest__link {
    color: $headingsColor;
    text-decoration: none;
}