<div class="fixed-header">
  <svg class="header__logo--fixed" width="66" height="53.46">
    <use href="./images/symbol-defs.svg#icon-Logo"></use>
  </svg>
  <button class="js-open-menu">
    <svg class="header__button" width="40" height="40">
      <use href="./images/symbol-defs.svg#icon-menu_40px"></use>
    </svg>
  </button>
  <nav class="nav--tab">
    <include src="./partials/header/navigation.html"></include>
  </nav>
  <div class="menu__contacts--wrapper-tab">
    <include src="./partials/header/menu-contacts.html"></include>
  </div>
</div>
