<ul class="slideshow">
  <li class="active">
    <img
      class="img-bg-slide"
      srcset="
        ./images/slider/mobile/basic.jpg              480w,
        ./images/slider/mobile/basic@2x.jpg           960w,
        ./images/slider/tablet/barber-1-tab.jpg       570w,
        ./images/slider/tablet/barber-1-tab@2x.jpg   1140w,
        ./images/slider/desktop/barber-1-desk.jpg    1070w,
        ./images/slider/desktop/barber-1-desk@2x.jpg 2140w
      "
      sizes="(min-width: 1200px) 1070px, (min-width: 768px) 570px, (min-width: 480px) 480px, 100vw"
      src="./images/slider/mobile/basic.jpg"
      alt="barber-1"
    />
  </li>
  <li>
    <img
      class="img-bg-slide"
      srcset="
        ./images/slider/mobile/slider-img-2.jpg       480w,
        ./images/slider/mobile/slider-img-2@2x.jpg    960w,
        ./images/slider/tablet/barber-2-tab.jpg       570w,
        ./images/slider/tablet/barber-2-tab@2x.jpg   1140w,
        ./images/slider/desktop/barber-2-desk.jpg    1070w,
        ./images/slider/desktop/barber-2-desk@2x.jpg 2140w
      "
      sizes="(min-width: 1200px) 1070px, (min-width: 768px) 570px, (min-width: 480px) 480px, 100vw"
      src="./images/slider/mobile/slider-img-2.jpg"
      alt="barber-2"
    />
  </li>
  <li>
    <img
      class="img-bg-slide"
      srcset="
        ./images/slider/mobile/slider-img-3.jpg       480w,
        ./images/slider/mobile/slider-img-3@2x.jpg    960w,
        ./images/slider/tablet/barber-3-tab.jpg       570w,
        ./images/slider/tablet/barber-3-tab@2x.jpg   1140w,
        ./images/slider/desktop/barber-3-desk.jpg    1070w,
        ./images/slider/desktop/barber-3-desk@2x.jpg 2140w
      "
      sizes="(min-width: 1200px) 1070px, (min-width: 768px) 570px, (min-width: 480px) 480px, 100vw"
      src="./images/slider/mobile/slider-img-3.jpg"
      alt="barber-3"
    />
  </li>
</ul>
