@import "./utils/variables";
@import "./utils/placeholders";
@import "./components/basic";
@import "./layout/menu";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/services";
@import "./layout/advantage";
@import "./layout/barbers";
@import "./layout/footer";
@import "./layout/.gallery";
@import "./layout/.slider";

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}