%container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 84px 31px;
    max-width: 480px;

    @media (min-width: 768px) {
        padding: 100px 39px;
        max-width: 768px;
    }
}

%pretitle {
    display: block;
    
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $headingsColor;
    
    
    margin: 0 0 0 80px;

    &::before {
        display: block;
        content: '';
        width: 60px;
        height: 1px;
        background-color: $headingsColor;

        position: absolute;
        top: 91px;
        left: 31px;

        
    }
}

%section {
    margin: 0 auto;
    max-width: 480px;

    @media (min-width: 768px) {
        max-width: 768px;
    }
}

%heading {
    color: $headingsColor;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    
    margin: 20px 0 0 0;
}

%list {
    margin-top: 44px;
    margin-bottom: 0;
    padding-left: 0;
}

%item {
    list-style-type: none;
}

%button {
    border: 1px solid $btnBorderAndAccent;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    color: $primaryBackgroundColor;
    background-color: transparent;
    cursor: pointer;

    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.09em;

    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;

    transition: background-color, color, 2s, ease-in;

    &:hover,
    &:focus {
        background-color: $btnBorderAndAccent;
        color: $primaryBackgroundColor;
    }
}

%paragraph {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: $paragraphColor;
    font-size: 18px;
    
    margin: 20px 0 0 0;

    @media (min-width: 768px) {
            font-size: 18px;
    }
}

%image {
    display: inline-block;
    margin-top: 64px;
}

%link {
    display: inline;
    text-decoration: none;
}