<div class="booking" id="booking">
  <h2 class="heading--booking">Online-booking</h2>
  <form class="footer__form">
    <input
      type="name"
      name="name"
      placeholder="NAME*"
      class="footer__input js-input-name"
    />
    <input
      type="tel"
      name="phone"
      placeholder="PHONE*"
      class="footer__input js-input-tel"
    />
    <textarea
      name="message"
      placeholder="MESSAGE"
      class="footer__textarea"
      rows="4"
    ></textarea>
    <button class="button--booking" type="submit">Send</button>
  </form>
</div>
