body {
   font-family: 'OpenSans', sans-serif; 
}

.container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 84px 31px;

    &--advantage {
        padding: 104px 31px 64px 31px;
    }

    &--header {
        max-width: 480px;
    }

}

.section {
    margin: 0 auto;
}

.item {
    list-style-type: none;
}

.pretitle {
    display: block;

    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $headingsColor;

    margin: 0;

    &::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: $headingsColor;
    }

    &--services {
        color: $textOnBgImage;
    }

    &--hero::before,
    &--services::before {
        content: ' ';
        width: 60px;
        height: 1px;
        background-color: $textOnBgImage;
    }
}

.section {
    margin: 0;
    max-width: 480px;
}

.heading {
    color: $headingsColor;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.05em;

    margin: 20px 0 0 0;

    &--about {
        font-size: 28px;
    }

    &--services {
        font-size: 40px;
    }

    &--booking,
    &--contacts,
    &--services,
    &--hero {
        color: $primaryBackgroundColor;
    }

    &--hero {
        font-size: 48px;
    }

    &--booking,
    &--contacts {
        margin: 0;
    }
}

.button {
    border: 1px solid $btnBorderAndAccent;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    color: $primaryBackgroundColor;
    background-color: transparent;

    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.09em;

    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;


    &--about {
        color: $headingsColor;

        margin: 40px 0 0 0;
    }
}

.paragraph {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: $paragraphColor;

    margin: 20px 0 0 0;
}

.visually-hidden {
    display: none;
}

.link {
    display: inline-block;
}

.list {
    margin-top: 44px;
    margin-bottom: 0;
    padding-left: 0;

    &--gallery {
        margin-top: 71px;
    }

    &--contacts {
        margin-top: 40px;
    }

    &--lowest {
        margin-top: 0;

        display: flex;
        justify-content: flex-end;

        margin-bottom: 20px;
    }

    &--services {
        padding: 30px 20px 30px 40px;
    }
}

.image {
    display: inline-block;
    margin-top: 64px;

   
}