body {
   font-family: 'OpenSans', sans-serif; 
}


.container--advantage {
    @extend %container;
    padding: 104px 31px 64px 31px;
}

.container {
    @extend %container;
}

.pretitle {
    @extend %pretitle;
}
   

.pretitle--hero::before,
.pretitle--services::before {
        content: ' ';
        width: 60px;
        height: 1px;
        background-color: $textOnBgImage;
}


.section {
   @extend %section;
}

.heading--booking,
.heading--contacts,
.heading--services,
.heading--hero {
    @extend %heading;
    color: $primaryBackgroundColor;
}


.heading--booking,
.heading--contacts {
    @extend %heading;
    text-align: center;
    margin: 0;
}

.paragraph {
    @extend %paragraph;
}

.visually-hidden {
    display: none;
}

.link {
    display: inline-block;
}

.list--gallery {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 71px;
}

.list--contacts {
    @extend %list;
    margin-top: 40px;
}

.list--lowest {
    @extend %list;
    margin-top: 0;

    display: flex;
    justify-content: flex-end;

    margin-bottom: 20px;
}

.image {
    display: inline-block;
    margin-top: 64px; 
}