body {
   font-family: 'OpenSans', sans-serif; 
}


    .container--advantage {
        @extend %container;
        padding: 104px 31px 64px 31px;
    }



.section {
    margin: 0 auto;
}



.pretitle {
    @extend %pretitle;
}
   

.pretitle::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: $headingsColor;
}

.pretitle--services {
        @extend %pretitle;
        color: $textOnBgImage;
}

.pretitle--hero::before,
.pretitle--services::before {
        content: ' ';
        width: 60px;
        height: 1px;
        background-color: $textOnBgImage;
}


.section {
   @extend %section;
}


    

    .heading--about {
        @extend %heading;
        font-size: 28px;
    }

    .heading--services {
        @extend %heading;
        font-size: 40px;
    }

    .heading--booking,
    .heading--contacts,
    .heading--services,
    .heading--hero {
        @extend %heading;
        color: $primaryBackgroundColor;
    }

    .heading--hero {
        @extend %heading;
        font-size: 48px;
    }

    .heading--booking,
    .heading--contacts {
        @extend %heading;
        text-align: center;
        margin: 0;
    }




.button-about {
    @extend %button;
    color: $headingsColor;

    margin: 40px 0 0 0;
}

.paragraph {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: $paragraphColor;

    margin: 20px 0 0 0;
}

.visually-hidden {
    display: none;
}

.link {
    display: inline-block;
}


    

    .list--gallery {
        @extend %list;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 71px;
    }

    .list--contacts {
        @extend %list;
        margin-top: 40px;
    }

    .list--lowest {
        @extend %list;
        margin-top: 0;

        display: flex;
        justify-content: flex-end;

        margin-bottom: 20px;
    }

    .list--services {
        @extend %list;
        padding: 30px 20px 30px 40px;
    }


.image {
    display: inline-block;
    margin-top: 64px; 
}