<aside class="about__aside">
  <ul class="about__aside--list">
    <li class="about__aside--item">
      <img
        class="about__aside--img"
        srcset="
          ./images/about/tablet/about-1-tab.jpg      330w,
          ./images/about/tablet/about-1-tab@2x.jpg   660w,
          ./images/about/desktop/about-1-desk.jpg    270w,
          ./images/about/desktop/about-1-desk@2x.jpg 540w
        "
        sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, 100%"
        src="./images/about/tablet/about-1-tab.jpg"
        alt="about-1"
      />
    </li>
    <li class="about__aside--item">
      <img
        class="about__aside--img"
        srcset="
          ./images/about/tablet/about-2-tab.jpg      330w,
          ./images/about/tablet/about-2-tab@2x.jpg   660w,
          ./images/about/desktop/about-2-desk.jpg    270w,
          ./images/about/desktop/about-2-desk@2x.jpg 540w
        "
        sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, 100%"
        src="./images/about/tablet/about-2-tab.jpg"
        alt="about-2"
      />
    </li>
  </ul>
</aside>
