<section class="section advantage">
  <div class="container--advantage">
    <div class="advantage__content">
      <p class="pretitle--advantage">old traditional school</p>
      <h2 class="heading">¿Why people come <br />to us?</h2>
      <p class="paragraph">
        Only good things are said about us. But it's better to see and feel 1
        time than read 10 times.
      </p>
    </div>
    <ul class="advantage__list">
      <li class="advantage__item">
        <div class="advantage__item--content">
          <h3 class="advantage__number">600</h3>
          <p class="plus">+</p>
          <p class="advantage__description">Satisfied customers per day</p>
        </div>
      </li>
      <li class="advantage__item">
        <div class="advantage__item--content">
          <h3 class="advantage__number">50</h3>
          <p class="plus">+</p>
          <p class="advantage__description">Awards for excellent service</p>
        </div>
      </li>
      <li class="advantage__item">
        <div class="advantage__item--content">
          <h3 class="advantage__number">20</h3>
          <p class="plus">+</p>
          <p class="advantage__description">Kyiv's best barbers</p>
        </div>
      </li>
      <li class="advantage__item">
        <div class="advantage__item--content">
          <h3 class="advantage__number">100</h3>
          <p class="plus">+</p>
          <p class="advantage__description">Gifts for regular customers</p>
        </div>
      </li>
    </ul>
  </div>
</section>
