<section class="section photos">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <p class="pretitle--photos">In Latin, "barba" means "beard"</p>
    <ul class="list--gallery">
      <li class="gallery__item">
        <img
          srcset="
            ./images/gallery/mobile/gallery-1.jpg     418w,
            ./images/gallery/mobile/gallery-1@2x.jpg  836w,
            ./images/gallery/tablet/gallery-1.jpg     330w,
            ./images/gallery/tablet/gallery-1@2x.jpg  660w,
            ./images/gallery/desktop/gallery-1.jpg    270w,
            ./images/gallery/desktop/gallery-1@2x.jpg 540w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px, 100%"
          src="./images/gallery/mobile/gallery-1.jpg"
          alt="the first picture in the gallery"
          class="image--gallery"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/gallery/mobile/gallery-2.jpg     418w,
            ./images/gallery/mobile/gallery-2@2x.jpg  836w,
            ./images/gallery/tablet/gallery-2.jpg     330w,
            ./images/gallery/tablet/gallery-2@2x.jpg  660w,
            ./images/gallery/desktop/gallery-2.jpg    270w,
            ./images/gallery/desktop/gallery-2@2x.jpg 540w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px, 100%"
          src="./images/gallery/mobile/gallery-2.jpg"
          alt="the second picture in the gallery"
          class="image--gallery"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/gallery/mobile/gallery-3.jpg     418w,
            ./images/gallery/mobile/gallery-3@2x.jpg  836w,
            ./images/gallery/tablet/gallery-3.jpg     330w,
            ./images/gallery/tablet/gallery-3@2x.jpg  660w,
            ./images/gallery/desktop/gallery-3.jpg    270w,
            ./images/gallery/desktop/gallery-3@2x.jpg 540w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px, 100%"
          src="./images/gallery/mobile/gallery-3.jpg"
          alt="the third picture in the gallery"
          class="image--gallery"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/gallery/mobile/gallery-4.jpg     418w,
            ./images/gallery/mobile/gallery-4@2x.jpg  836w,
            ./images/gallery/tablet/gallery-4.jpg     330w,
            ./images/gallery/tablet/gallery-4@2x.jpg  660w,
            ./images/gallery/desktop/gallery-4.jpg    270w,
            ./images/gallery/desktop/gallery-4@2x.jpg 540w
          "
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, (min-width: 480px) 418px, 100%"
          src="./images/gallery/mobile/gallery-4.jpg"
          alt="the fourth picture in the gallery"
          class="image--gallery"
        />
      </li>
    </ul>
  </div>
</section>
