<section class="section services" id="services">
  <div class="container">
    <p class="pretitle--services">Spend your time with the best masters</p>
    <h2 class="heading--services">Services and prices</h2>
    <ul class="list--services">
      <li class="services__item">
        <span class="services__name">Men's haircut</span>
        <p class="services__price">from 300 uah</p>
      </li>
      <li class="services__item">
        <span class="services__name">Beard trim</span>
        <p class="services__price">from 200 uah</p>
      </li>
      <li class="services__item">
        <span class="services__name">Mustache trim</span>
        <p class="services__price">from 200 uah</p>
      </li>
      <li class="services__item">
        <span class="services__name">Straight razor shave</span>
        <p class="services__price">from 200 uah</p>
      </li>
      <li class="services__item">
        <span class="services__name">Trainee's haircut</span>
        <p class="services__price">from 50 uah</p>
      </li>
      <li class="services__item">
        <span class="services__name">Haircut under the nozzle</span>
        <p class="services__price">from 200 uah</p>
      </li>
      <li class="services__item">
        <span class="services__name">Children's haircut (0-12 y.o)</span>
        <p class="services__price">from 300 uah</p>
      </li>
      <li class="services__item">
        <span class="services__name">Camouflage of grey hair</span>
        <p class="services__price">from 200 uah</p>
      </li>
    </ul>
    <a class="link" href="#booking">
      <button class="button">online-booking</button>
    </a>
  </div>
</section>
