<section class="section barbers" id="barbers">
  <div class="container--barbers">
    <p class="pretitle--barbers">for true enjoyers of the atmosphere</p>
    <h2 class="heading">Our barbers</h2>
    <ul class="barbers__list">
      <li class="barbers__item">
        <img
          srcset="
            ./images/barbers/mobile/barber-1.jpg     418w,
            ./images/barbers/mobile/barber-1@2x.jpg  836w,
            ./images/barbers/tablet/barber-1.jpg     450w,
            ./images/barbers/tablet/barber-1@2x.jpg  900w,
            ./images/barbers/desktop/barber-1.jpg    370w,
            ./images/barbers/desktop/barber-1@2x.jpg 740w
          "
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 450px, (min-width: 480px) 418px, 100%"
          src="./images/barbers/mobile/barber-1.jpg"
          alt="the first barber"
          class="barber__image"
        />
        <h3 class="barbers__name">John Smith</h3>
        <p class="barbers__description">Extreme Barber</p>
        <include src="./partials/barbers/socials.html"></include>
      </li>
      <li class="barbers__item">
        <img
          srcset="
            ./images/barbers/mobile/barber-2.jpg     418w,
            ./images/barbers/mobile/barber-2@2x.jpg  836w,
            ./images/barbers/tablet/barber-2.jpg     450w,
            ./images/barbers/tablet/barber-2@2x.jpg  900w,
            ./images/barbers/desktop/barber-2.jpg    370w,
            ./images/barbers/desktop/barber-2@2x.jpg 740w
          "
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 450px, (min-width: 480px) 418px, 100%"
          src="./images/barbers/mobile/barber-2.jpg"
          alt="the second barber"
          class="barber__image"
        />
        <h3 class="barbers__name">Michele Doe</h3>
        <p class="barbers__description">Extreme Barber</p>
        <include src="./partials/barbers/socials.html"></include>
      </li>
      <li class="barbers__item">
        <img
          srcset="
            ./images/barbers/mobile/barber-3.jpg     418w,
            ./images/barbers/mobile/barber-3@2x.jpg  836w,
            ./images/barbers/tablet/barber-3.jpg     450w,
            ./images/barbers/tablet/barber-3@2x.jpg  900w,
            ./images/barbers/desktop/barber-3.jpg    370w,
            ./images/barbers/desktop/barber-3@2x.jpg 740w
          "
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 450px, (min-width: 480px) 418px, 100%"
          src="./images/barbers/mobile/barber-3.jpg"
          alt="the third barber"
          class="barber__image"
        />
        <h3 class="barbers__name">Alan Black</h3>
        <p class="barbers__description">Extreme Barber</p>
        <include src="./partials/barbers/socials.html"></include>
      </li>
    </ul>
  </div>
</section>
