<ul class="socials">
  <li class="socials__item">
    <div class="circle">
      <svg class="socials__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
      </svg>
    </div>
  </li>
  <li class="socials__item">
    <div class="circle">
      <svg class="socials__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
      </svg>
    </div>
  </li>
  <li class="socials__item">
    <div class="circle">
      <svg class="socials__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
      </svg>
    </div>
  </li>
  <li class="socials__item">
    <div class="circle">
      <svg class="socials__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
      </svg>
    </div>
  </li>
</ul>
