body {
   font-family: 'OpenSans', sans-serif; 
}

.list {
    @extend %list;
}

.item {
    @extend %item;
}

.container {
    @extend %container;
}

.pretitle {
    @extend %pretitle;

    &--hero,
    &--services {
        opacity: 0.4;
    }
}
   

.pretitle--hero::before,
.pretitle--services::before {
        content: ' ';
        width: 60px;
        height: 1px;
        background-color: $textOnBgImage;
       

        @media (min-width: 768px) {
            top: 107px;
            left: 39px;
        }
}


.section {
   @extend %section;
}

.heading--booking,
.heading--contacts,
.heading--services,
.heading--hero {
    @extend %heading;
    color: $primaryBackgroundColor;
}


.heading--booking,
.heading--contacts {
    @extend %heading;
    text-align: center;
    margin: 0;

    @media (min-width: 768px) {
        text-align: left;
    }
}

.paragraph {
    @extend %paragraph;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.button {
    @extend %button;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    @extend %heading;
}

.link {
    @extend %link;
}