.list--gallery {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 71px;

    @media (min-width: 768px) {
        margin-top: 44px;
        flex-wrap: wrap;
        gap: 30px;
        flex-direction: row;
    }

}

.pretitle--photos {
    @extend %pretitle;

    &::before {
        @media (min-width: 768px) {
            top: 107px;
            left: 39px;
        }
    }
}

.image--gallery {
    @media (max-width: 479px) {
        max-width: 258px;
    }
}

.gallery__item {
    @extend %item;
    text-align: center;
}