.slider-container {
    position: absolute;
    top: 0;
    left: 0;
    
    background-image: url('../images/slider/mobile/basic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}