.about__paragraph {
    @extend %paragraph;
    font-size: 16px;

    &--wide {
        @extend %paragraph;
        font-size: 14px;
        line-height: 1.9;
    }

        @media (min-width: 768px) {
            font-size: 18px;
        }
}

.heading--about {
    @extend %heading;
    font-size: 28px;

    @media (min-width: 1600px) {
        font-size: 42px;
    }
}

.button--about {
    @extend %button;
    color: $headingsColor;
    margin: 40px 0 0 0;

    @media (min-width: 1600px) {
        margin-top: 42px;
    }
}

// aside

.about__aside {
    display: none;

    @media(min-width: 768px) {
        display: inline-block;
        width: 330px;
        height: 500px;
        margin: 0;
        
    }

    @media (min-width: 1600px) {
        width: 570px;
    }

    &--item {
        @extend %item;
    }

    &--list {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;

        @media (min-width: 1600px) {
            flex-direction: row;
        }
    }

}

.about__content {

    @media(min-width: 768px) {
        display: inline-block;
        position: relative;
    }
}

.container--about {
    @extend %container;


    @media (min-width: 768px) {
        display: flex;
        gap: 30px;
    }

    @media (min-width: 1600px) {
        padding: 100px 100px 120px 0;
        min-width: 1170px;
    }
}

.pretitle--about {
    @extend %pretitle;
}

.pretitle--about::before {
    position: absolute;

    @media (min-width: 768px) {
        top: 7px;
        left: 0;
    }
}