.barbers {
    background-color: $itemsBgColor;
}

.barber__image {
    @extend %image;
    margin-top: 0;
}

.barbers__item {
    @extend %item;
    
    &:not(:last-child) {
        margin-bottom: 64px;
    }
}


.barbers__name,
.barbers__description {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.02em;
}


.barbers__name {
    font-size: 18px;
    color: $headingsColor;

    margin: 30px 0 0 0;
}

.barbers__description {
    font-size: 14px;
    color: $btnBorderAndAccent;

    margin: 8px 0 0 0;
}

.socials {
    @extend %list;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        @extend %item;
        transition: fill 0.5s ease-in;
    }

    &__item:not(:last-child) {
            margin-right: 10px;
        }

    &__item:hover,
    &__item:focus {
        fill: $btnBorderAndAccent;
    }

}

.circle {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: $primaryBackgroundColor
}

