.header__logo,
.header__button {
    display: inline-block;
    z-index: 100;
}

.header__button {
    transform:translateX(-15%);
}

.header__logo {
    position: absolute;
}

.container--header {
    @extend %container;
    max-width: 480px;
    padding: 40px 31px 208px 31px;

    position: relative;
}

.header {
    background-color: $darkBackground;
}
