
.hero__paragraph {
    @extend %paragraph;
    font-size: 16px;
    line-height: 1.625;
    color: $textOnBgImage; 
}

.pretitle--hero {
    @extend %pretitle;
    color: $textOnBgImage;

    &::before {
        top: 7px;
        left: 0;
    }
}

.heading--hero {
    @extend %heading;
    font-size: 48px;
}

.hero {
    position: relative;
    margin-top: 112px;
}