.menu__close {
    width: 40px;
    height: 40px;

    background-color: $primaryBackgroundColor;
    border: none;

    position: absolute;
    top: 48px;
    right: 31px;

    &--icon {
        pointer-events: none;
    }

}

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    background-color: $primaryBackgroundColor;

    padding: 48px 40px;
    margin: 0;

    position: absolute;
    top: 0;
    right: 0;

    transform: translateX(100vw);
    transition: transform 5s ease-in;

}

.menu.is-open {
    display: block;
    padding: 48px 31px;
    margin: 0;

    position: fixed;
    top: 0;
    right: 0;

    z-index: 1000;
    
    transform: translateX(0);
    
}

.js-open-menu {
    border: none;
    width: 40px;
    height: 40px;

    position: absolute;
    top: 48px;
    right: 31px;

    background-color: transparent;

    @media (min-width: 768px) {
        display: none;
    }
}

.nav__item {
    @extend %item;

    &:not(:last-child) {
        margin-bottom: 24px;

        @media (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 16px;
        }

        @media (min-width: 1200px) {
            margin-right: 30px;
        }
    }

    @media (min-width: 768px) {
        margin: 0;
    }
}

.nav__link,
.menu__link--phone {
    color: $headingsColor;
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    

    &:hover,
    &:focus {
        color: $btnBorderAndAccent;
    }

   @media (min-width: 768px) {
    color: $primaryBackgroundColor;
    font-size: 12px;
   }
}

.button--menu {
    @extend %button;
    color: $headingsColor;
    margin-bottom: 64px;
    margin-top: 0;

    @media (min-width: 768px) {
        margin-bottom: 20px;
        color: $primaryBackgroundColor
    }
}

.menu__item {
    @extend %item;
    

    &:not(:last-child) {
            margin-bottom: 24px;
        }

    &:first-child::before {
        display: block;
        content: '';
        width: 60px;
        height: 1px;
        background-color: $headingsColor;

        position: absolute;
        top: 9px;
        left: 0;

    }

    &--aside {
        @extend %item;
        writing-mode:vertical-rl;
    }
}

.menu__link,
.menu__item--aside {
    display: inline-block;
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 14;
    line-height: 1.4;
    letter-spacing: 0.2em;
    color: $headingsColor;
    text-decoration: none;

    margin-left: 100px;

    &--phone {
        display: block;
        margin-bottom: 24px;
        cursor: pointer;

        @media (min-width: 768px) {
            margin: 0;
        }
    }

    &:hover,
    &:focus {
        color: $btnBorderAndAccent;
    }

    @media (min-width: 768px) {
        margin: 0;
    }

}

.nav {
    display: none;
    margin-top: 70px;
    margin-bottom: 64px;

    @media (min-width: 768px) {
        display: block;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        top: 80px;
        left: 20px;
        z-index: 1000;
    }

    @media (min-width: 1200px) {
        left: 100px;
    }

    &__list {
        margin: 0;
        padding: 0;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__item {
        cursor: pointer;
    }
}

.menu__socials {
    position: relative;

    margin: 0;
    padding: 0;

    &--aside {
        position: absolute;
        left: 10px;
        top: 270px;
    

        display: flex;
        flex-direction: column;
        gap: 40px;

        width: 15px;
        height: 270px;
        margin: 0 auto 0 auto;

        @media (min-width: 1200px) {
            padding: 0;
            right: 0;
        }

        &:last-child::after {
            display: block;
            content: '';
            height: 60px;
            width: 1px;
            background-color: $headingsColor;
            
            position: absolute;
            bottom: -40px;
            left: 29px;

            @media (min-width: 1200px) {
                left: 7px;
            }
        }

    }

    
}

.menu__contacts--wrapper {
    display: none;

    &:last-child {
        cursor: pointer;
    }

    @media (min-width: 768px) {
        display: block;
        position: absolute;
        top: 80px;
        right: 20px;
        
        z-index: 100;

        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    @media (min-width: 1200px) {
        flex-direction: row;
        align-items: baseline;
        gap: 40px;
    }
    
}